<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky31.mapper.CommentMapper">
    <sql id="selectFields">
        id,user_id,entity_type,entity_id,target_id,content,status,create_time,mils_time
    </sql>

    <sql id="insertFields">
        user_id,entity_type,entity_id,target_id,content,status,create_time,mils_time
    </sql>

    <insert id="insertComment">
        insert into comment(<include refid="insertFields"></include>)
        values (#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime},#{milsTime})
    </insert>


    <update id="updateComment">
        update comment set status=1 where id=#{id}
    </update>

    <select id="selectCountByEntity" resultType="int">
        select count(id)
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>

    <select id="deleteCommentByUser" resultType="integer">
        select user_id from comment where id=#{id}
    </select>

    <select id="selectCommentsByEntity" resultType="com.sky31.domain.Comment">
        select
        <include refid="selectFields"></include>
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
        order by create_time desc
        limit #{offset},#{limit}
    </select>



    <select id="getCommentCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM comment
        WHERE target_id=0
        AND entity_id=#{id}
    </select>
</mapper>
