<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky31.mapper.DiscussPostMapper">
    <sql id="selectFields">
                id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <sql id="insertFields">
                id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>



    <update id="updateCommentCountInt">
        update discuss_post set comment_count=#{commentCount} where id=#{id}
    </update>


    <update id="updateType">
        update discuss_post set type=#{type} where id =#{id}
    </update>


    <update id="updateStatus">
        update discuss_post set status=#{status} where id=#{id}
    </update>

    <select id="deletePostsByUser" resultType="integer">
        select user_id from discuss_post where id=#{id}
    </select>

    <!--    <insert id="insertDiscussPost">-->
<!--        insert into discuss_post(<include refid="insertFields"></include>)-->
<!--        values (#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})-->
<!--    </insert>-->

    <select id="selectDiscussPosts" resultType="com.sky31.domain.DiscussPost">
        select
        <include refid="selectFields"></include>
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id=#{userId}
        </if>
        <if test="type==1">
            and type=1
        </if>
        <if test="type==0">
            and type=0
        </if>
        order by create_time desc
        LIMIT #{offset},#{limit}
    </select>


    <select id="selectDiscussPostRows" resultType="java.lang.Integer">
        select count(id)
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id=#{userId}
        </if>
    </select>


    <select id="getPostCount" resultType="java.lang.Integer">
        select count(*) from discuss_post where type=#{type}
    </select>


    <select id="findByContent" resultType="com.sky31.domain.DiscussPost">
        select * from discuss_post where content=#{content}
    </select>


    <select id="getDisscussPost" resultType="com.sky31.domain.DiscussPost">
        select * from discuss_post where id=#{id}
    </select>


</mapper>
